 /* --- עיצוב הפוטר --- */
    .site-footer {
        background-color: #f8f9fa;
        padding: 40px 20px;
        text-align: center;
        border-top: 1px solid #e1e1e1;
        width: 100%; /* מוודא שזה תופס את כל הרוחב */
        box-sizing: border-box; /* מונע גלישה לצדדים */
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .social-links {
        margin-bottom: 10px;
    }

    /* עיצוב האייקונים של הרשתות החברתיות */
    .social-links a {
        color: gray;
        font-size: 28px;
        margin: 0 15px;
        transition: color 0.3s ease;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
    }

    .social-links a:hover {
        color:lightgray;
    }

    .legal-links {
        display: flex;
        gap: 20px;
        font-size: 14px;
    }

    .legal-links a {
        color: #555;
        text-decoration: none;
        transition: color 0.3s;
    }

    .legal-links a:hover {
        text-decoration: underline;
        color: #000;
    }

    .copyright {
        margin-top: 20px;
        font-size: 12px;
        color: #777;
    }
